@model CarEverywhere.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>
</div>
<div class="row mt-3 mb-2">
    <div class="col-6">
        <a asp-action="Index" class="btn btn-secondary" role="button">Back to List</a>
    </div>
    <div class="col-6 text-end">
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary" role="button">Edit</a>
        </div>
    </div>
</div>